# Server
/db.sqlite3
/manage.py


# Static
/static/admin
/static/components
/static/css
/static/docs
/static/fonts
/static/hp
/static/js
/static/img
/static/vendor
/static/site.webmanifest

# media
/media/hero-img.png

# core
/core/static
/core/templates
/core/migrations
/core/__pyache__