{% extends 'core/base.html' %}
{% block content %}
          <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.25"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-80"></span>
        <div class="jarallax-img" style="background-image: url(/static/img/pages/contacts/page-title-bg.jpg);"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h1 class="text-light">Contacts</h1>
              <p class="text-light">Get in touch with by completing the below form or call us now</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact form + details-->
      <section class="container position-relative zindex-5 pb-5">
        <div class="row">
          <div class="col-lg-6 col-md-7 offset-lg-1 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-0 shadow-lg">
              <form class="card-body needs-validation p-5" method="POST" novalidate>
                  {% csrf_token %}
                <div class="mb-3 pb-1">
                  <label class="form-label" for="cont-fn">Full name<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="text" id="cont-fn" placeholder="John Doe" name="name" required>
                  <div class="invalid-feedback">Please enter your full name!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" for="cont-email">Email address<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="email" id="cont-email" placeholder="j.doe@example.com" name="email" required>
                  <div class="invalid-feedback">Please enter a valid email address!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" for="cont-phone">Phone number</label>
                  <input class="form-control bg-image-0" type="text" id="cont-phone" data-format="custom" name="phone" data-delimiter="-" data-blocks="2 4 2 2" placeholder="00-0000-00-00">
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" for="cont-subject">Subject<sup class="text-danger ms-1">*</sup></label>
                  <input class="form-control" type="text" id="cont-subject" placeholder="Title of your message" name="subject" required>
                  <div class="invalid-feedback">Please enter a subject!</div>
                </div>
                <div class="mb-3 pb-1">
                  <label class="form-label" for="cont-message">Message<sup class="text-danger ms-1">*</sup></label>
                  <textarea class="form-control" id="cont-message" rows="5" placeholder="Write your message here" name="text" required></textarea>
                  <div class="invalid-feedback">Please write a message!</div>
                </div>
                <div class="text-center pt-2">
                  <button class="btn btn-primary" type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 offset-md-1">
            <h2 class="h4 pb-3">Credit:</h2>
              <li class="d-flex align-items-top mb-3">
                <div>Credit: <a href="https://createx.studio/"> createx studio </a></div>
              </li>
              <li class="d-flex align-items-top mb-3">
                  <div>Credit:
                      <a href="https://hellopage.tech"> Divyansh Dwivedi</a>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Map--><!--
      <section class="gallery" id="map"><a class="gallery-item map-popup bg-position-center bg-no-repeat py-7 text-center" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91476818218!2d-74.11976253858133!3d40.69740344296443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sua!4v1568574342685!5m2!1sen!2sua" data-iframe="true" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;396 Lillian Blvd, Holbrook, NY 11741&lt;/h6&gt;" style="background-image: url(/static/img/pages/contacts/map01.jpg);"><span class="gallery-caption"><i class="ai-maximize-2 fs-xl mt-n1 me-2"></i>Expand the map</span>
          <div class="d-inline-block py-4 py-md-6"><img src="/static/img/pages/contacts/marker.png" alt="Map marker" width="48"></div></a></section>
    --></main>







{% endblock %}