{% extends 'core/base.html' %}
{% block content %}
          <!-- Pricing-->
      <section class="container mb-3 mt-4 py-5 my-md-0 pt-md-7 pb-md-6">
        <h2 class="text-center mb-5">Pricing</h2>
        <div class="d-flex align-items-center justify-content-between border rounded mx-auto mb-5 py-3 px-5" style="max-width: 730px;"><i class="ai-clock lead text-primary p-2"></i>
          <h5 class="p-2 mb-0">2 hours - $6</h5>
          <h5 class="p-2 mb-0">4 hours - $10</h5>
          <h5 class="p-2 mb-0">1 day - $18</h5>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <div class="card border-0 shadow w-100">
              <div class="card-img-top bg-secondary text-center py-5 px-grid-gutter">
                <h3 class="text-body mb-0">Starter</h3>
              </div>
              <div class="card-body px-grid-gutter py-grid-gutter">
                <div class="d-flex align-items-end py-2 px-4 mb-4"><span class="h2 fw-normal text-muted mb-1 me-2">$</span><span class="price display-2 fw-normal text-primary px-1 me-2">35</span><span class="h3 fs-lg fw-medium text-muted mb-2">per<br>month</span></div>
                <ul class="list-unstyled py-2 mb-4">
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>24/7 Premises access</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>High speeed WiFi</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Car parking lot</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Lounge room access</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-x fs-xl text-muted me-2"></i><span class="text-muted">3 events / workshops per month</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-x fs-xl text-muted me-2"></i><span class="text-muted">Breakfasts</span></li>
                </ul>
                <div class="text-center mb-2"><a class="btn btn-outline-primary" href="#">Get started</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <div class="card card-active w-100">
              <div class="card-img-top bg-gradient text-center py-5 px-grid-gutter">
                <h3 class="text-light mb-0">Freelancer</h3>
              </div>
              <div class="card-body px-grid-gutter py-grid-gutter">
                <div class="d-flex align-items-end py-2 px-4 mb-4"><span class="h2 fw-normal text-muted mb-1 me-2">$</span><span class="price display-2 fw-normal text-primary px-1 me-2">99</span><span class="h3 fs-lg fw-medium text-muted mb-2">per<br>month</span></div>
                <ul class="list-unstyled py-2 mb-4">
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>24/7 Premises access</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>High speeed WiFi</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Car parking lot</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Lounge room access</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>3 events / workshops per month</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-x fs-xl text-muted me-2"></i><span class="text-muted">Breakfasts</span></li>
                </ul>
                <div class="text-center mb-2"><a class="btn btn-primary" href="#">Get started</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-grid-gutter">
            <div class="card border-0 shadow w-100">
              <div class="card-img-top bg-secondary text-center py-5 px-grid-gutter">
                <h3 class="text-body mb-0">Resident Full</h3>
              </div>
              <div class="card-body px-grid-gutter py-grid-gutter">
                <div class="d-flex align-items-end py-2 px-4 mb-4"><span class="h2 fw-normal text-muted mb-1 me-2">$</span><span class="price display-2 fw-normal text-primary px-1 me-2">124</span><span class="h3 fs-lg fw-medium text-muted mb-2">per<br>month</span></div>
                <ul class="list-unstyled py-2 mb-4">
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>24/7 Premises access</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>High speeed WiFi</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Car parking lot</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Lounge room access</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>3 events / workshops per month</span></li>
                  <li class="d-flex align-items-center mb-3"><i class="ai-check fs-xl text-primary me-2"></i><span>Breakfasts</span></li>
                </ul>
                <div class="text-center mb-2"><a class="btn btn-outline-primary" href="#">Get started</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}